<!DOCTYPE html>
<html lang="en">

<head th:replace="~{head :: headFragment}"></head>

<head>

    <!-- link main css -->
    <link rel="stylesheet" href="resources/css/attraction.css">

    <!-- link vehicle js -->
    <script src="controllerJS/attraction.js"></script>


    <style>
        .w-33 {
            width: 32.5% !important;
        }

        .col-place-name {
            width: 20% !important;
        }

        .col-local-fees {
            width: 15% !important;
        }

        .col-foreign-fees {
            width: 15% !important;
        }
    </style>

</head>

<body>
    <main id="mainAreaID" class="main min-vh-100">
        <header th:replace="~{header :: headerFragment}"></header>

        <aside th:replace="~{aside :: asideFragment}"></aside>
    
        <div th:replace="~{userinfoeditportal :: userInfoEditModalFragment}"></div>

        <div class="container-fluid main">

            <!-- title starts -->
            <!-- <div class="row p-2">
                <div class="col-12 text-center m-0 p-0 bg-primary">
                    <h2 class="">Visiting Places Management</h2>
                </div>
            </div> -->

            <div class="row mt-2">
                <!-- modal btn starts -->
                <div class="d-flex justify-content-center">
                    <button type="button" class="btn modal-btn" data-bs-toggle="modal" data-bs-target="#vPlaceModal"
                        area-controls="vPlaceModal">+ Add a New Location</button>
                </div>
            </div>

            <!-- main buttons starts -->
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10">
                    <div id="divModify" class=" d-none float-end">
                        <button type="button" id="btnEdit" style="pointer-events: all;"
                            onclick="editVPlaceBtn(window['editOb'], window['editRow'])"
                            class="btn btn-warning btn-edit">Edit</button>

                        <button type="button" id="btnDelete" style="pointer-events: all;"
                            onclick="deleteVplace(window['editOb'], window['editRow'])"
                            class="btn btn-danger btn-delete">Delete</button>

                        <button disabled type="button" id="btnPrint" style="pointer-events: all;"
                            onclick="printVplace(window['editOb'], window['editRow'])"
                            class="btn btn-info btn-print">Print</button>
                    </div>
                </div>
                <div class="col-1"></div>
            </div>

        </div>

        <!-- table area starts -->
        <div class="row mt-2 ">

            <div class="col-10 mx-auto">
                <div class="card card-body bg-info bg-opacity-25 mx-auto ">

                    <!-- table starts -->
                    <table id="tableVPlace" class="table table-bordered table-striped border-warning  ">

                        <thead class="table-primary ">

                            <th class="">No.</th>
                            <th class="col-place-name">Place Name</th>
                            <th class="">District</th>
                            <!-- <th class="">Categories</th> -->
                            <!-- <th class="">Activities</th> -->
                            <th class="">Duration</th>
                            <th class="col-local-fees">Local Fees</th>
                            <th class="col-foreign-fees">Foreign Fees</th>
                            <th class="">Status</th>
                            <th class="">Modify</th>
                        </thead>

                        <tbody class="table-light align-middle">

                        </tbody>

                    </table>
                </div>
            </div>

        </div>

        <div aria-hidden="true" aria-labelledby="staticBackdropLabel" class="modal fade" data-bs-backdrop="static"
            data-bs-keyboard="false" id="vPlaceModal" tabindex="-1">

            <div class="modal-dialog modal-lg">

                <div class="modal-content">

                    <!-- modal header -->
                    <div class="modal-header bg-dark text-warning">
                        <h5 class="modal-title " id="staticBackdropLabel">Visiting Places Management Form</h5>

                        <!-- <button aria-label="Close" class="btn btn-sm" data-bs-dismiss="modal" type="button">X</button> -->

                        <button type="button" class="btn-close bg-danger" data-bs-dismiss="modal"
                            onclick="window.location.reload()"></button>
                    </div>

                    <div class="modal-body">
                        <div class="container">

                            <form id="vPlaceForm" onsubmit="return false">

                                <!-- required Mark starts -->
                                <!-- <div class="row mb-3">
                                <div class="col-3 text-start fw-bold ">
                                    <span class="text-danger"> * </span> Required Data Fields
                                </div>
                                <div class="col-2"></div>
                                <div class="col-3 text-start fw-bold 3">
                                    <span class="text-info"> * </span> Optional Data Fields
                                </div>
                            </div> -->

                                <!-- NAME AND STATUS ROW -->
                                <div class="mb-2">
                                    <div class="input-group">
                                        <!-- Name Label -->
                                        <label class="form-label" for="inputPlaceName" style="width:65%">Name :</label>

                                        <!-- Status label -->
                                        <label for="selectAttrStatus" class="form-label">Status: </label>

                                    </div>

                                    <div class="input-group">
                                        <!-- Name Input -->
                                        <input id="inputPlaceName"
                                            onkeyup="inputFieldValidator(this, '' ,'attraction' ,'name' )" type="text"
                                            class="form-control form-input me-2" style="width:35%">

                                        <!-- Label input -->
                                        <select id="selectAttrStatus" class="form-control form-select"
                                            onchange="selectDynamicVal(this,'','attraction','attrstatus_id')">

                                        </select>
                                    </div>
                                </div>

                                <!-- Province and District starts -->
                                <div class="mb-2">
                                    <div class="input-group">
                                        <!-- Label for PROVINCE -->
                                        <label class="form-label w-50" for="inputPlaceProvince">Province
                                        </label>

                                        <!-- Label for DISTRICT -->
                                        <label for="inputPlaceDistrict" class="form-label w-50">District
                                        </label>

                                    </div>

                                    <div class="input-group">

                                        <!-- SELECT PROVINCE -->
                                        <select id="inputPlaceProvince" class="form-control form-select"
                                            onchange="getDistByProvince()">
                                        </select>

                                        <!-- SELECT DISTRICT -->
                                        <select id="inputPlaceDistrict" class="ms-3 form-control form-select"
                                            onchange="selectDynamicVal(this,'','attraction','district_id')">

                                        </select>
                                    </div>
                                </div>

                                <!--TYPES accordion starts -->
                                <div class="mb-2 w-100 border p-3 accordion accordion-flush mt-2"
                                    id="accordionForTypes">

                                    <div class="accordion-item ">

                                        <!-- <h5 class="accordion-header mb-2"> -->
                                        <div class="accordion-header mb-2">

                                            <button class="p-0 accordion-button collapsed fw-bold " type="button"
                                                data-bs-toggle="collapse" data-bs-target="#flushCollapseOne"
                                                aria-expanded="false" aria-controls="flushCollapseOne">

                                                <h5 class="text-info"> Categories : Click to view</h5>
                                            </button>
                                        </div>

                                        <div id="flushCollapseOne" class="accordion-collapse collapse ps-4"
                                            data-bs-parent="#accordionForTypes">
                                            <div class="accordion-body bg-light d-flex justify-content-between">

                                                <!-- this will be filled by a JS -->

                                                <!-- </div> -->
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <!-- Activities accordion starts-->
                                <!-- <div class="mb-2 w-100 border p-3 accordion accordion-flush mt-2"
                                    id="acc#accordionForActivities">
                                    <div class="accordion-item ">
                                        <h5 class="accordion-header mb-2">
                                            <button class="p-0 accordion-button collapsed fw-bold " type="button"
                                                data-bs-toggle="collapse" data-bs-target="#flushCollapseTwo"
                                                aria-expanded="false" aria-controls="flushCollapseTwo">
                                                <h5 class="text-info"> Nearby Activities : Click to view</h5>
                                            </button>
                                        </h5>
                                        <div id="flushCollapseTwo" class="accordion-collapse collapse ps-4"
                                            data-bs-parent="#accordionForActivities">
                                            <div class="accordion-body bg-light d-flex justify-content-between">

                                               
                                            </div>
                                        </div>
                                    </div>

                                </div> -->

                                <!-- Entrance Fees Section -->
                                <div class="mb-2">
                                    <div class="row">
                                        <h5>Entrance Fees</h5>

                                        <!-- 3 Check Boxes for Entrance Fees -->
                                        <div class="input-group">

                                            <!-- CB 1 -->
                                            <input type="radio" class="btn-check" id="allEntryFreeChkBox"
                                                autocomplete="off" name="entranceFees" value="All Free"
                                                onchange="allEntryFree(); attraction.feetype = this.value ">

                                            <label class="btn btn-outline-success w-33 rounded-start"
                                                for="allEntryFreeChkBox">All
                                                Free</label>

                                            <!--CB 2  -->
                                            <input type="radio" class="btn-check" id="localsEntryFreeCheckBox"
                                                autocomplete="off" value="Local Free" name="entranceFees"
                                                onchange="localsEntryFree(); attraction.feetype = this.value">

                                            <label class="ms-1 btn btn-outline-warning w-33"
                                                for="localsEntryFreeCheckBox">Local
                                                Free</label>

                                            <!-- CB 3 -->
                                            <input type="radio" class="btn-check" id="allPaidCheckBox"
                                                autocomplete="off" name="entranceFees" value="All Paid"
                                                onchange="allPaid(); attraction.feetype = this.value">
                                            <!-- checked -->

                                            <label class="btn ms-1 btn-outline-danger w-33" for="allPaidCheckBox">All
                                                Paid</label>
                                        </div>
                                    </div>

                                </div>

                                <div class="mb-2">
                                    <!--INPUT ENTRANCE FEES -->
                                    <div class="row">

                                        <div class="col-6 bg-light border">

                                            <h5 class="mt-1">Local Fees</h5>

                                            <!-- Local ADULT -->
                                            <div class="row mt-1 mb-3">
                                                <div class="col-6">

                                                    <label class="form-label  mb-0">Local Adult</label>

                                                    <div class="input-group">
                                                        <span class="input-group-text p-1 pb-0">
                                                            <h6>LKR</h6>
                                                        </span>
                                                        <input type="number" id="feeLocalAdult"
                                                            class="form-control form-input w-85 p-1 text-center"
                                                            placeholder=""
                                                            onkeyup="inputFieldValidator(this,'^(?!0+$)\\d+(\\.\\d{1,2})?','attraction','feelocal')">
                                                    </div>


                                                </div>

                                                <!-- Local CHILD -->
                                                <div class="col-6">

                                                    <label class="form-label mb-0">Local Children</label>

                                                    <div class="input-group">
                                                        <span class="input-group-text p-1 pb-0">
                                                            <h6>LKR</h6>
                                                        </span>
                                                        <input type="text" id="feeLocalChild"
                                                            class="form-control form-input w-85 p-1 text-center"
                                                            placeholder=""
                                                            onkeyup="inputFieldValidator(this,'^(?!0+$)\\d+(\\.\\d{1,2})?','attraction','feechildlocal')">
                                                    </div>


                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-6 bg-light border">

                                            <h5 class="mt-1">Foreign Fees</h5>

                                            <!-- Foreign ADULT -->
                                            <div class="row mt-1 mb-3 ">
                                                <div class="col-6">
                                                    <label class="form-label  mb-0">Foreign Adult</label>

                                                    <div class="input-group">
                                                        <span class="input-group-text p-1 pb-0">
                                                            <h6>LKR</h6>
                                                        </span>
                                                        <input type="text" id="feeForeignAdult"
                                                            class="form-control form-input w-85 p-1 text-center"
                                                            placeholder=""
                                                            onkeyup="inputFieldValidator(this,'^(?!0+$)\\d+(\\.\\d{1,2})?','attraction','feeforeign')">
                                                    </div>
                                                </div>

                                                <div class="col-6">

                                                    <label class="form-label mb-0">Foreign Children</label>

                                                    <div class="input-group">
                                                        <span class="input-group-text p-1 pb-0">
                                                            <h6>LKR</h6>
                                                        </span>
                                                        <input type="number" id="feeForeignChild"
                                                            class="form-control form-input w-85 p-1 text-center"
                                                            placeholder=""
                                                            onkeyup="inputFieldValidator(this,'^(?!0+$)\\d+(\\.\\d{1,2})?','attraction','feechildforeign')">
                                                    </div>


                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <!-- NOTE -->
                                <div class="row mt-2 border bg-light">

                                    <div class="col-7 pb-2">
                                        <label for="inputNote" class="form-label fw-bold">Note :</label>
                                        <textarea class="form-control" placeholder=" " id="inputNote"
                                            onkeyup="inputFieldValidator(this,'','attraction','description')"
                                            style="height: 100px;"></textarea>
                                    </div>

                                    <div class="col-5 ms-0 me-0">

                                        <div class="row w-100 mb-2">
                                            <div class="col-8">
                                                <!-- PARKING FEE STARTS -->
                                                <label for="vehiParkingFeeInput" class="form-label mb-0">Parking
                                                    Fee
                                                    :
                                                </label>

                                                <div class="input-group mb-1">
                                                    <span class="input-group-text p-1 pb-0">
                                                        <h6>LKR</h6>
                                                    </span>
                                                    <input type="number" id="vehiParkingFeeInput"
                                                        class="form-control form-input p-1 text-center " placeholder=""
                                                        onkeyup="inputFieldValidator(this,'^(?!0+$)\\d+(\\.\\d{1,2})?','attraction','vehicleparkingfee')">

                                                </div>
                                            </div>

                                            <div class="col-4 my-auto">
                                                <input type="checkbox" class="btn-check" id="freeParkingCBX" onchange="freeParkingCheckBox(); ">

                                                <label class="btn btn-outline-success rounded-start"
                                                    for="freeParkingCBX">Free</label>
                                            </div>

                                        </div>

                                        <div class="row w-100 mt-2">
                                            <!-- DURATION -->
                                            <label for="tourDuration" class="form-label mb-0"> Tour Duration </label>

                                            <div class="input-group mt-1">
                                                <input type="number" class="form-control form-input p-1 text-center"
                                                    id="tourDuration" placeholder=""
                                                    onkeyup="inputFieldValidator(this,'^(?!0*$)\\d+(\\.\\d{1,2})?$','attraction','duration')">
                                                <span class="input-group-text p-1 pb-0 w-50 text-center">
                                                    <h6>Hours</h6>
                                                </span>
                                            </div>
                                        </div>


                                    </div>
                                </div>

                                <!--3 form buttons starts -->
                                <div class="row mt-3">

                                    <div class="col-3">
                                        <button type="reset" class="btn btn-all btn-clear"
                                            onclick="refreshAttractionsForm()"> Clear</button>
                                    </div>

                                    <div class="col-9 text-end">
                                        <button type="button" id="attraUpdateBtn" class="btn btn-all btn-update "
                                            onclick="updateVplaceBtn()" style="pointer-events: all;">Update</button>

                                        <button type="submit" id="attraAddBtn" class="btn btn-all btn-add "
                                            onclick="addVPlaceBtn()" style="pointer-events: all;">Add</button>

                                        <!-- <button type="button" disabled class="btn btn-warning ">Push</button> -->
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                    <div class="modal-footer d-flex justify-content-between">

                    </div>
                </div>
            </div>
        </div>

    </main>
</body>

</html>